.sidebar-container {
  height: max-content;
  width: max-content;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
}

.equals-div {
  position: absolute;
  padding: 5px 8px;
  background-color: #0280d4;
  border-radius: 100%;
  color: white;
  top: 10px;
  right: -19px;
}

#company-logo {
  margin-left: 30px;
  margin-top: 32px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu-element {
  display: flex;
  color: black;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 400;
  margin-top: 8px;
  width: max-content;
  padding: 6px 15px 6px 15px;
}

.sidebar-logo {
  margin-right: 8px;
}

.active-menu-element {
  color: white;
  background-color: #0280d4;
  border-radius: 20px;
}

.sidebar-line {
  border: 1px solid rgba(82.89, 127.63, 160.44, 0.5);
}

.lower-menu-element {
  display: flex;
  color: #a8a8a8;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 400;
  width: max-content;
}

.user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.user-div {
  display: flex;
  align-items: center;
}

.profile-img {
  padding: 6px;
  background-color: #0280d4;
  border-radius: 100%;
}

.username {
  font-size: 15px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 14px;
  background: linear-gradient(90deg, #0280d4 0%, #0adab0 113.36%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sidebar-lower {
  margin-left: 36px;
  margin-right: 17px;
  margin-top: 20px;
}
